<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>基于RFID的校园学生管理系统</title>
    <meta name="keywords" content="基于RFID的校园学生管理系统"/>
    <meta name="description" content="基于RFID的校园学生管理系统"/>
    <link href="/statics/css/layout.css" rel="stylesheet" type="text/css">
    <link href="/statics/css/login.css" rel="stylesheet" type="text/css">
</head>
<style>
    .ibar {
        display: none;
    }
</style>
<body class="login-bg">
<div class="main  " id="rrapp">
    <!--登录-->
    <div class="login-dom login-max">
        <div class="logo text-center">
            <a href="#">
                  <!-- logo.png是登录界面的小图标 -->
                <img src="/statics/image/logo.png" width="160px" height="160px">
            </a>
        </div>
        <div class="login container " id="login">
            <p class="text-big text-center logo-color">
                基于RFID的校园学生管理系统
            </p>

            <form class="login-form" onsubmit="return false" method="post" autocomplete="off">
                <div class="login-box border text-small" id="box" style="height: auto;">
                    <div class="name border-bottom">
                        <input type="text" placeholder="请填写帐号信息" v-model="username" id="username" name="username"
                               datatype="*" nullmsg="请填写帐号信息">
                    </div>
                    <div class="pwd">
                        <input type="password" placeholder="请填写帐号密码" v-model="password" datatype="*" id="password"
                               name="password" nullmsg="请填写帐号密码">
                    </div>
                </div>
                <input type="submit" class="btn text-center login-btn" @click="login" value="立即登录">
                <div style="text-align: center;color: #FFF">
                   还没有账号？<a href="reg.html" style="color: #FFF">
                  立即注册
               </a>
               </div>
            </form>
            <div class="forget">
            </div>
        </div>
    </div>

    <div class="footer text-center text-small ie">
        Copyright 2020-2030 基于RFID的校园学生管理系统 版权所有

        <script src="#" language="JavaScript"></script>
    </div>
    <div class="popupDom">
        <div class="popup text-default">
        </div>
    </div>
</div>


<!-- /.login-box -->
<script src="statics/libs/jquery.min.js"></script>
<script src="statics/libs/vue.min.js"></script>
<script src="statics/libs/bootstrap.min.js"></script>
<script src="statics/libs/jquery.slimscroll.min.js"></script>
<script src="statics/libs/fastclick.min.js"></script>
<script src="statics/plugins/layer/layer.js"></script>
<script src="statics/libs/app.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el: '#rrapp',
        data: {
            username: '',
            password: '',
            captcha: null,
            error: false,
            errorMsg: null,
        },
        beforeCreate: function () {
            if (self != top) {
                top.location.href = self.location.href;
            }
        },
        created: function () {
        },
        methods: {
            refreshCode: function () {
                this.src = "captcha.jpg?t=" + $.now();
            },
            login: function (event) {
                var data = "username=" + this.username + "&password=" + this.password + "&=";
                $.ajax({
                    type: "POST",
                    url: "sys/login",
                    data: data,
                    dataType: "json",
                    success: function (result) {
                        if (result.code == 0) {//登录成功
                            parent.location.href = 'index.html';
                        } else {
                            layer.msg(result.msg);
                        }
                    }
                });
            }
        }
    });
</script>
</body>
</html>